/*ANCHOR max-width: 1700 */
@media screen and (max-width: 1700px) {
    .sliderWithTimerBullet {
        margin-bottom: 20px;
    }
}

/*ANCHOR max-width: 1600 */
@media screen and (max-width: 1600px) {
    /* .navigation {
        margin-right: 45px;
    } */
    .navigation li:not(:first-child) {
        margin-left: 20px;
    }
    .navigation li:not(:first-child) {
        padding-left: 0;
    }
    .topPanel .logo {
        margin-right: 25px;
    }
    .subMenuWrapper {
        padding-left: 263px;
    }
    .mapSidebar {
        width: 430px;
        padding: 55px 25px;
    }
    .promotionSmall {
        padding: 30px 45px 30px 45px;
    }
    .promotionCard {
        padding: 30px;
    }
    .topAbout {
        margin-right: 30px;
    }
}
/*ANCHOR max-width: 1440 */

@media screen and (max-width: 1440px) {
    .mainWrapper {
        overflow-x: hidden;
    }
    .topPanel {
        padding-top: 15px;
        padding-bottom: 0;   
    }
    .subMenu {
        left: -20px;
        width: 105%;
    }
    .subMenuWrapper {
        padding-left: 0;
    }
    .topPanel .wrapper {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .topAbout {
        margin-left: auto;
    }
    .navigation {
        margin-top: 20px;
        padding: 20px 0;
        position: relative;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
           -moz-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        margin: 20px 0 0;
    }
    .navigation::after {
        content: '';
        display: block;
        width: 1005%;
        height: 1px;
        background: rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 0;
        left: -30px;
    }
    .navigation li:not(:first-child) {
        margin-left: 40px;
    }
    .promotionBigContent {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .promotionBig {
        background-position: 70% 0;
    }
    .bigCount {
        font-size: 70px;
    }
    .mapSidebar .btn {
        margin-top: auto;
    }
    .footerMenuTop li:not(:last-of-type) {
        margin-right: 15px;
    }
}
/*ANCHOR max-width: 1200 */
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }
    .topAbout {
        margin-right: 20px;
        font-size: 13px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .citySelect {
        margin-right: 35px;
        font-size: 15px;
    }
    a.phone {
        margin: 0 7px 0 0;
    }
    .changeCity {
        top: 175%;
        right: -55px;
    }
    .mainBanner {
        height: 635px;
    }
    .mainOffer {
        max-width: 675px;
    }
    .mainOfferContainer {
        padding-bottom: 50px;
    }
    .mainOffer .btn {
        margin-top: 30px;
    }
    .materialsBig h3,
    .materialsAbout h3,
    .promotionSmall h3,
    .sectionOfferTitle,
    .offerTitleWithRoulette .title,
    .phaseItem h3 {
        font-size: 22px;
        line-height: 34px;
    }
    .phaseItem .link  {
        padding: 40px 15px 35px 15px;
        min-height: 275px;
    }
    .phaseItem .desc {
        margin: 0;
    }
    .offerTitleWithRoulette {
        padding: 30px 0 30px 17px;
    }
    .offerTitleWithRoulette .title {
        margin-bottom: 25px;
    }
    .roulette {
        font-size: 18px;
        width: 47.5%;
    }
    .rhomb {
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }
    .offerPosition .position {
        font-size: 13px;
    }
    .rouletteSliderItem {
        min-height: 60px;
    }
    .popular {
        padding: 40px 0;
    }
    .popular .sectionTitle {
        margin-bottom: 30px;
    }
    .popularItemBottom {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .popularItemBottom .price {
        width: 100%;
        margin-bottom: 15px;
    }
    .popularItemBottom .place img {
        width: 25px;
    }
    .popularItemBottom .place:not(:last-child) {
        margin-right: 13px;
    }
    .swiper-fraction {
        top: 30px;
        left: 20px;
    }
    .promotionBigCount,
    .sectionMap .title,
    .sliderItemContent h1 {
        font-size: 30px;
    }
    .sliderItemContent h1 {
        margin-bottom: 32px;
    }
    .sectionMap .title {
        top: 53px;
        left: 38px;
        max-width: 100%;
    }
    .sliderWithFraction .sliderItemContent {
        padding: 97px 85px 70px 20px;
    }
    .sliderItemContent p {
        margin-bottom: 20px;
    }
    .sliderWithTimerBullet {
        margin: 0 0 10px 15px;
    }
    .sectionMap .title .span a {
        padding-left: 40px;
    }
    .sectionMap .title .span a img {
        width: 35px;
    }
    .sectionMap .title .span a:hover span::after {
        bottom: -10px;
    }
    .map {
        height: 675px!important;
        overflow: hidden;
    }
    .mapSidebar {
        width: 355px;
        padding: 65px 35px;
    }
    .ymaps-2-1-79-map {
        width: 100%!important;
    }
    .sectionOffer {
        padding-top: 0;
        padding-bottom: 27px;
    }
    .offerBanner {
        margin: 0 -20px 50px;
        height: 450px;
    }
    .offerBanner .img {
        height: 100%;
    }
    .offerBannerTitle {
        top: 35px;
        left: 35px;
    }
    .offerBannerTitle h1 {
        margin-bottom: 32px;
    }
    .offerBannerTitle p {
        margin-bottom: 50px;
    }
    .offerBanner img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .sectionOfferTitle {
        max-width: 100%;
        margin-bottom: 35px;
    }
    .offerDescription {
        padding-top: 0;
    }
    .sectionOfferWithRoulette {
        padding: 0;
    }
    .sectionPromotion {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    .promotionBig {
        max-width: 100%;
        padding: 50px 0 130px 60px;
        min-height: 625px;
    }
    .promotionBig h1 {
        font-size: 50px;
        margin-bottom: 155px;
    }
    .promotionBigContent {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
           -moz-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .promotionBigCount {
        margin-right: 120px;
    }
    .promotionCard {
        padding: 55px 130px 50px 50px;
        width: 50%;
        border: 0;
    }
    .promotionCard:first-child {
        border-right: 1px solid var(--color-7);
    }
    .promotionCards {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .promotionCards, .promotionSmall {
        width: 100%;
        max-width: 100%;
    }
    .promotionSmall {
        min-height: 350px;
        height: 100%;
        background: url(../img/prom3.jpg) no-repeat 0 0 / cover;
    }
    .positionContent {
        margin-top: auto;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .promotionSmall {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .promotionSmall .btn {
        margin-top: 18px;
    }
    .promotionSmall h3 {
        max-width: 595px;
    }
    .reviewSlider .title {
        margin: 40px 0; 
    }
    .footerContacts::before,
    .reviewSlider .title br {
        display: none;
    }
    .sliderReview .sliderItemContent {
        padding: 25px 75px 25px 20px;
    }
    .sliderReview .sliderItemContent .date {
        margin-bottom: 47px;
    }
    .sliderReview .sliderItemContent .quote {
        font-size: 17px;
        padding-left: 55px;
    }
    .sliderReview .sliderItemContent .quote::before {
        font-size: 100px;
        top: -30px;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 40px;
        height: 40px;
        margin-left: -1px;
    }
    .sectionTitle {
        margin-bottom: 25px;
    }
    .materialsTop {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .materialsBig {
        width: 100%;
        max-height: 460px;
        margin-bottom: 18px;
    }
    .materialSmall {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .materialsItem {
        height: 270px;
        width: 49%;
    }
    .materialsList .materialsItem {
        width: 49%;
    }
    .materialSection {
        padding: 57px 0 13px;
    }
    .socialCards {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .socialCard:not(:last-of-type) {
        margin-right: 0;
    }
    .socialCard {
        margin: 0px 10px 20px !important;
    }
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footerSection {
        padding-bottom: 100px;
    }
    .footerSidebarSoc {
        position: absolute;
        bottom: -75px;
        margin: 0;
    }
    .footerNav {
        padding-top: 18px;
    }
    .footerContacts {
        padding-top: 0;
    }
    .copyright {
        bottom: -76px;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .copyrightWrap {
        margin-left: 0;
        margin-top: 10px;
    }
    .materialsBig h3 {
        max-width: 500px;
        margin: 0 auto 95px;
    }
}

/*ANCHOR max-width: 993 */
@media screen and (max-width: 993px) {
    .sectionSlider {
        padding: 0 15px;
    }
    #rouletteBtn:after {
        display: none;
    }
    .sectionOfferWithRoulette .offer,
    .offerTitleWithRoulette.offerTitle {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;    
    }
    .offerTitleWithRoulette .title {
        text-align: center;
    }
    .offerPerson {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }   
    .rhomb {
        margin: 0 0 15px;
    }
    .roulette {
        position: relative;
        padding-bottom: 15px;
        font-size: 14px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;  
        -ms-flex-align: center;
            align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
           -moz-box-orient: vertical;
           -moz-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .roulette::after,
    .roulette::before {
        content: '';
        display: block;
        background: var(--color-2);
        position: absolute;
        top: 50%;
    }
    .roulette::before {
        width: 21px;
        background: var(--color-2);
        height: 60px;
        left: 0;
        -webkit-transform: translate(0, -112%);
           -moz-transform: translate(0, -112%);
            -ms-transform: translate(0, -112%);
             -o-transform: translate(0, -112%);
                transform: translate(0, -112%);
    }
    .roulette:after {
        border-top: 30px solid transparent;
        border-left: 24px solid var(--color-2);
        border-bottom: 30px solid transparent;
        width: 0;
        height: 0;
        left: 19px;
        background: transparent;
        -webkit-transform: translate(0, -112%);
           -moz-transform: translate(0, -112%);
            -ms-transform: translate(0, -112%);
             -o-transform: translate(0, -112%);
                transform: translate(0, -112%);
    }
    .rouletteSliderItem {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #rouletteBtn {
        position: static;
        margin-top: 15px;
        max-width: 345px;
        width: 100%;
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    .rouletteSlider {
        position: relative;
        border-left: 0;
        width: 100%;
    }
    .sliderWithFraction .swiper-slide {
        height: auto;
    }
    
    .promotionCard p {
        margin-bottom: 25px;
    }
    
    .promotionCards {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
           -moz-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
    .promotionCard {
        min-height: 100%;
        height: auto;
        padding-right: 50px;
    }
    
    .copyrightWrap {
        margin-left: 0;
        margin-top: 0;
    }
}
/*ANCHOR max-width: 768 */
@media screen and (max-width: 768px) {
    .mainWrapper {
        overflow-x: hidden;
    }
    .topPanel {
        background: var(--color-6);
        -webkit-backdrop-filter: blur(0);
                backdrop-filter: blur(0);
    }
    .swiper-pagination-bullet-active {
        width: 30px!important;
    }
    .socialCard,
    .mainBannerLabel,
    .topPanel .btnLight,
    .topPanel a.phone,
    .dateWork,
    .filterList,
    .sectionMap .title br,
    .sliderReview .sliderItemContent .quote::before,
    .offerBanner,
    .navigation::after,
    .phase:last-of-type {
        display: none;
    }
    .socialCard.mobileElement {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        min-height: auto;
        padding: 15px 0 ;
        margin: 0;
        width: 100%;
        max-width: 100%;
        margin: 0px 0 12px !important;
    }
    .socialCard.mobileElement .title {
        margin: 0 15px 0 0;
    }
    .socialCard .title img {
        margin-right: 15px;
        width: 32px;
    }
    .navigation a {
        width: 90%;
    }
    .dropmenu .arrow,
    .mobileElement {
        display: block;
    }
    .navFooter {
        border-top: 1px solid var(--color-5);
        padding-top: 18px;
        font-size: 13px;
    }
    .navFooter .title {
        margin-bottom: 10px;
        display: block;
    }
    .navigation .navigationSocial a {
        font-size: 28px;
        color: var(--color-3);
        background: var(--color-5);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 48px;
        height: 48px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
    }
    .navigation .navigationSocial a:not(:last-child) {
        margin-right: 10px;
    }
    .burger {
        border: 0;
        outline: none;
        background: transparent;
    }
    .burger span {        
        -webkit-transition: all .3s ease;        
        -o-transition: all .3s ease;        
        -moz-transition: all .3s ease;        
        transition: all .3s ease;
        width: 24px;
        height: 2px;
        display: block;
        background: #67748B;
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 10px;
    }
    .burger span:not(:last-child) {
        margin-bottom: 3px;
    }
    .subMenu .container {
        padding: 0;
    }
    .navigation {
        opacity: 0;
        position: fixed;
        top: -1000%;
        left: 0;
        background: #fff;
        z-index: -99;
    }
    .navigation.active {
        opacity: 1;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 59px;
        z-index: 999;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        padding: 16px 16px;
    }
    .mainOffer .wrapper,
    .navigation .menu {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .navigation .menu li {
        padding-bottom: 24px;
        width: 100%;
        position: relative;
    }
    .navigation li:not(:first-child) {
        margin-left: 0;
    }
    .subMenu {
        position: unset;
    }
    .burger.active span {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        margin: 0;
        background: var(--color-3);
    }
    .burger.active span:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(1px, 2px);
           -moz-transform: rotate(45deg) translate(1px, 2px);
            -ms-transform: rotate(45deg) translate(1px, 2px);
             -o-transform: rotate(45deg) translate(1px, 2px);
                transform: rotate(45deg) translate(1px, 2px);
    }
    .burger.active span:nth-child(2) {
        display: none;
    }
    .burger.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(0, 0);
           -moz-transform: rotate(-45deg) translate(0, 0);
            -ms-transform: rotate(-45deg) translate(0, 0);
             -o-transform: rotate(-45deg) translate(0, 0);
                transform: rotate(-45deg) translate(0, 0);
    }
    .sectionMap .title,
    .mainOfferContainer {
        position: static;
    }
    .materialsList,
    .materialSmall,
    .offer,
    .sectionMap,
    .phase,
    .promotionCards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .subMenu,
    .mainOffer .btn,
    .materialsList .materialsItem,
    .materialsItem,
    .promotionCard,
    .sectionMap .wrapper,
    .popular .btn,
    .phaseItem {
        width: 100%;
        max-width: 100%;
    }
    .promotionCard,
    .phaseItem .link {
        border: 0;
        min-height: auto;
        position: relative;
    }
    .phaseItem .link .arrow {
        position: absolute;
        bottom: 17px;
        right: 15px;
    }
    .promotionCard:nth-child(2n+2),
    .phaseItem:nth-child(3n+2) .link {
        border-top: 1px solid #C8D8E4;
        border-bottom: 1px solid #C8D8E4;
    }
    .mainOffer .btn,
    .mapSidebarItem {
        text-align: center;
    }    
    .sliderReview .sliderItemContent,
    .sliderItemImg,
    .sliderWithFraction .sliderItemContent,
    .popularItem {
        width: 100%;
    }
    .offerBannerTitle h1,
    .bigCount,
    .promotionBigCount span {
        font-size: 45px;
    }
    .mainOffer h1,
    .offerBannerTitle h1,
    .sliderItemContent h1 {
        font-size: 24px;
    }
    .navigation a,
    .footerContacts h4,
    .socialSection h3,
    .promotionCard h3,
    h1.sectionTitle,
    .reviewSlider .title,
    .sliderReview .sliderItemContent h3,
    .phaseItem h3,
    .offerTitleWithRoulette .title {
        font-size: 20px;
        line-height: 26px;
    }
    .footerContacts .phone,
    .materialsAbout h3,
    .sliderReview .sliderItemContent .date,
    .promotionSmall h3,
    .promotionBig h1,
    .popularItemBottom .price,
    .promotionBigCount,
    .offerPosition .name,
    .popularItem .name,
    .sectionOfferTitle {
        font-size: 17px;
    }
    .promotionBigCount {
        font-size: 20px;
    }
    .offerBannerTitle p,
    .address,
    .footerContacts .links,
    .materialsAbout p,
    .sliderReview .sliderItemContent .quote,
    .promotionCard p,
    .mapSidebarItem,
    .phaseItem .desc,
    .sliderItemContent p,
    .offerDescription p {
        font-size: 15px;
    }
    .subMenu a {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .subMenuWrapper {
        padding-top: 15px;
    }
    .subMenuWrapper .desc {
        display: none;
    }
    .materialsBig h3 {
        font-size: 13px;
    }
    .promotionBigCount span {
        font-size: 50px;
    }
    .materialsBig h3 {
        margin: 0 auto 20px;
    }
    .sectionMap .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .offer {
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .sectionMap .wrapper,
    .sliderWithFraction .swiper-slide,
    .sliderReview .swiper-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
           -moz-box-orient: vertical;
           -moz-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .sliderWithFraction .sliderItemContent {
        padding: 62px 15px 70px 15px;
    }
    .mapSidebar .btn {
        margin-top: 25px;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .mainOffer h1 {
        margin-left: 0;
    }
    .mainOffer .btn {
        margin-top: 15px;
        padding: 13px 0;
    }
    .reviewSlider .title,
    .sectionOffer {
        text-align: center;
    }
    .mapSidebar {
        width: 100%;
        padding: 30px;
    }
    .sectionMap .title {
        top: 0;
        left: 0;
        max-width: 100%;
        padding: 30px 15px;
        font-size: 24px;
        width: 310px;
    }
    .offerPerson {
        margin-bottom: 25px;
    }
    .promotionBigCount {
        margin-right: 0;
    }
    .promotionBig {
        max-width: 100%;
        padding: 20px;
        min-height: 61vw;
    }
    .promotionCard {
        padding: 20px;
    }
    .promotionCard .img {
        margin-top: 20px;
    }
    .sliderReview .sliderItemContent,
    .promotionSmall {
        padding: 15px;
    }
    .promotionSmall h3 {
        line-height: 24px;
    }
    .sliderReview .sliderItemContent .quote {
        padding-left: 0;
    }
    .swiperButtons {
        bottom: 32px;
        right: 13px;
    }
    .footerNav {
        overflow: hidden;
    }
    .footerSection {
        padding-bottom: 150px;
    }
    .copyright {
        right: auto;
        bottom: auto;
        top: 145%;
        font-size: 13px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .copyrightWrap {
        margin: 0 0 0 10px;
    }
    .topPanel .logo {
        margin-right: 0;
        width: 150px;
    }
    .topPanel .logo img {
        width: 100%;
    }
    .topPanel {
        padding-bottom: 15px;
        position: relative;
    }
    .citySelect,
    .topAbout {
        margin: 0;
    }
    .mainOfferContainer {
        padding: 0;
    }
    .topAbout {
        margin-left: auto;
        margin-right: 30px;
    }
    .mainBanner img {
        height: 250px;
    }
    .offerBannerTitle {
        top: 15px;
        left: 0;
    }
    .mainBanner {
        height: auto;
    }
    .mainOffer {
        padding-top: 15px;
    }
    .changeCity {
        width: 300px;
    }
    .topPanel .btnLight.cityBtn {
        display: block;
    }
    .sectionPhase {
        margin-bottom: 0;
        padding-top: 10px;
    }
    .phaseItem h3 {
        margin-bottom: 12px;
        line-height: 26px;
    }
    .phaseItem .link {
        padding: 20px 85px 20px 15px;
    }
    .phaseItem .desc {
        line-height: 21px;
    }
    .offerTitleWithRoulette {
        padding: 23px 20px;
    }
    .offerTitleWithRoulette .title {
        margin-bottom: 32px;
    }
    .popular .sectionTitle {
        margin-bottom: 20px;
    }
    .popularItemBottom {
        padding: 21px 16px 21px 20px;
    }
    .popular {
        padding: 40px 0 30px;
    }
    .swiper-fraction {
        top: 70vw;
        left: 15px;
        font-size: 17px;
    }
    .sliderItemContent h1 {
        margin-bottom: 15px;
    }
    .sliderWithFraction .sliderItemContent {
        padding-bottom: 50px;
    }
    .sliderItemContent .btn {
        padding: 8px 53px;
        letter-spacing: 0em;
        text-align: center;
    }
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,5px));
        height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,5px));
    }
    .sectionMap .title .span a {
        padding-left: 35px;
    }
    .sectionMap .title .span a img {
        width: 20px;
        top: 3px;
        left: 3px;
    }
    .map {
        height: 400px!important;
        overflow: hidden;
    }
    .mapSidebarItem:not(:last-of-type) {
        margin-bottom: 25px;
    }
    .sectionOfferTitle {
        font-size: 17px;
        line-height: 26px;
        padding-top: 28px;
    }
    .offerDescription .btn {
        font-size: 13px;
        padding: 13px 75px;
        margin-top: -12px;
        font-weight: 500;
        letter-spacing: 0.04em;
    }
    .sectionPromotion {
        padding-top: 40px;
    }
    .promotionBig h1 {
        margin-bottom: 45px;
    }
    .promotionBigBanks img:first-child {
        width: 30px;
    }
    .promotionBigBanks img:last-child {
        width: 110px;
    }
    .promotionBigBanks {
        padding-bottom: 17px;
        margin-left: 30px;
    }
    .promotionCard h3 {
        margin-bottom: 8px;
    }
    .promotionCard p {
        line-height: 24px;
    }
    .promotionSmall {
        min-height: 64vw;
    }
    .promotionSmall {
        padding: 20px 15px;
    }
    .promotionSmall .btn {
        margin-top: 23px;
        font-size: 14px;
        line-height: 1.2em;
        padding: 10px 13px;
        width: 260px;
    }
    .reviewSlider .title br {
        display: block;
    }
    .reviewSlider .title {
        margin: 35px 0 25px;
        font-size: 24px;
    }
    .sliderReview .sliderItemContent h3 {
        margin-bottom: 10px;
    }
    .sliderReview .sliderItemContent .date {
        margin-bottom: 15px;
    }
    .sliderReview .sliderItemContent .quote p {
        line-height: 20px;
        margin-bottom: 18px;
    }
    .sliderReview .sliderItemContent {
        padding: 15px 15px 42px 15px;
    }
    .materialSection {
        padding: 35px 0 13px;
    }
    .materialSection h1 {
        font-size: 24px;
    }
    .materialsItem {
        height: 54vw; 
    }
    .materialsAbout {
        bottom: 20px;
        left: 20px;
    }
    .materialsAbout .flag,
    .materialsAbout h3 {
        margin-bottom: 8px;
    }
    .footerMenuTop {
        overflow: scroll;
        padding-bottom: 20px;
    }
    .footerMenuTop ul {
        width: 850px;
    }
    .footerContacts {
        margin-top: 10px;
    }
    .copyright a img {
        width: 85px;
    }
}